In [2]:
import pandas as pd
global_ex = pd.read_csv("/model_interpret/global.csv").drop(columns = ["Unnamed: 0"])
feature_importance_plot= pd.DataFrame(global_ex.mean().sort_values()).reset_index().rename(columns={"index": "feature", 0: "lime_values"})

In [6]:
feature_importance_plot[feature_importance_plot["feature"] == "L.P.N. Development - แอล.พี.เอ็น.ดีเวลลอปเม้นท์ จำกัด (มหาชน)"]

                                              feature  lime_values
59  L.P.N. Development - แอล.พี.เอ็น.ดีเวลลอปเม้นท...          0.0

In [17]:
feature_importance_plot_sort = pd.DataFrame(abs(global_ex.mean()).sort_values(ascending = False)).reset_index().rename(columns={"index": "feature", 0: "lime_values"})["feature"].values[:15]

In [19]:
list(feature_importance_plot_sort)

['Multi-purpose hall',
 'BTS_distance',
 'MRT_distance',
 'no',
 'BRT_distance',
 'Sky Lounge',
 'car park',
 'Sathon',
 'Ratchathewi',
 'APL_distance',
 'High Floor',
 'Washing Machine',
 'Jacuzzi',
 'Private Garden',
 'fitness']