In [117]:
import pandas as pd
df = pd.read_csv("/ml_data/device.csv")

In [118]:
df_2 = pd.read_csv("/ml_data/sub_distict.csv")
df_wa = pd.read_csv("/ml_data/ana.csv")
df2 =df_wa.groupby(['timestamp', 'device']).mean().reset_index()

In [119]:
df_2_1 = pd.read_csv("/ml_data/sala_klang.csv")

In [121]:
df_2= pd.concat([df_2, df_2_1])

In [122]:
test_ja = pd.merge(df, df_2 , on = ["id"])

In [123]:
test_ja[test_ja["sub_district"] == "Bang Kruai"]["device"].unique()

array(['AA180122', 'AA180133', 'AA180154', 'AA180165', 'AA180167',
       'AA180168', 'AA180169', 'AA180170', 'AA180171', 'AA180172',
       'AA180206', 'AA180260', 'AA180268', 'AA180277', 'AA180298',
       'AA180335'], dtype=object)

In [124]:
test_ja[test_ja["province"] == "Nonthaburi"]["sub_district"].unique()

array(['Bang Bua Thong', 'Bang Khu Rat', 'Sala Klang', 'Bang Len',
       'Bang Khu Wiang', 'Bang Kruai', 'Bang Mae Nang', 'Bang Muang',
       'Bang Khanun', 'Bang Khun Kong', 'Bang Khen', 'Bang Krang',
       'Bang Kraso'], dtype=object)

In [125]:
def check_outlier(x):
    if x > 40:
        return True
    return False

def check_outlier_2(x):
    if x > 100:
        return True
    return False

In [126]:
df2["outlier"] = df2["temperature"].apply(check_outlier)
df2["outlier_2"] = df2["humidity"].apply(check_outlier_2)

In [127]:
test_wa = df2[(df2["outlier_2"] == True) |(df2["outlier"] == True)]

In [128]:
test_wa = pd.merge(test_wa, test_ja, on = ["device"])

In [129]:
in_brangkruai = test_wa.loc[test_wa['device'].isin(test_ja[test_ja["sub_district"] == "Bang Kruai"]["device"].unique())]

In [130]:
in_brangkruai = in_brangkruai.groupby(['device', 'id', 'sub_district', 'district', 'province', 'timestamp']).mean().reset_index()

In [136]:
in_brangkruai = in_brangkruai[in_brangkruai["sub_district"] == "Sala Klang"].drop(columns = ["outlier", "outlier_2", "id"])

In [137]:
in_brangkruai.to_csv("bangkruai_outlier.csv", index = False)

In [133]:
not_in_brangkruai = test_wa.loc[~(test_wa['device'].isin(test_ja[test_ja["sub_district"] == "Bang Kruai"]["device"].unique()))]
not_in_brangkruai = not_in_brangkruai.groupby(['device', 'id', 'sub_district', 'district', 'province', 'timestamp']).mean().reset_index()
not_in_brangkruai.drop(columns = ["outlier", "outlier_2", "id"])

,device,sub_district,district,province,timestamp,temperature,humidity
0,AA180115,Bang Khian,Chum Saeng,Nakhon Sawan,2022-12-04,42.182964,99.847119
1,AA180115,Bang Khian,Chum Saeng,Nakhon Sawan,2022-12-05,50.000000,100.000000
2,AA180115,Ban Dai,Mae Sai,Chiang Rai,2022-12-04,42.182964,99.847119
3,AA180115,Ban Dai,Mae Sai,Chiang Rai,2022-12-05,50.000000,100.000000
4,AA180115,Bang Krut,Ban Pho,Chachoengsao,2022-12-04,42.182964,99.847119
...,...,...,...,...,...,...,...
1455,AA180338,Bang Khian,Chum Saeng,Nakhon Sawan,2022-12-03,41.502367,96.261736
1456,AA180338,Bang Khian,Chum Saeng,Nakhon Sawan,2022-12-05,43.567222,96.949830
1457,AA180338,Ban Duea,Mueang Nong Khai,Nong Khai,2022-12-02,45.249608,98.674812
1458,AA180338,Ban Duea,Mueang Nong Khai,Nong Khai,2022-12-03,41.502367,96.261736
1459,AA180338,Ban Duea,Mueang Nong Khai,Nong Khai,2022-12-05,43.567222,96.949830