In [3]:
import pandas as pd
df = pd.read_csv("/ml_data/ddproperty_final.csv")

In [4]:
df.dtypes

Unnamed: 0        int64
price             int64
bedroom           int64
bathroom          int64
sqm             float64
developer        object
built_year        int64
district         object
luxuary           int64
public            int64
BRT_distance     object
BTS_distance     object
MRT_distance     object
APL_distance     object
feature          object
dtype: object

In [68]:
df["feature"][0].split(",")

["['pool'",
 " 'Multi-purpose hall'",
 " 'sauna'",
 " 'Library'",
 " 'security'",
 " 'Jacuzzi'",
 " 'car park'",
 " 'fitness']"]

In [69]:
import re

def str_to_list(x):
    list_x = []
    if x.split(","):
        for i in x.split(","):
            list_x.append(re.sub("[\[\'\]]", "", i).strip())
    else:
        list_x.append(re.sub("[\[\'\]]", "", x).strip())
    return list_x

def str_to_int(x):
    if x == "no":
        return 10000
    return x

def change_type_columns_feature(df_ja):
    df_ja["feature"] = df_ja["feature"].apply(str_to_list)

def change_no_to_int(df_ja):
    for i in ["BRT_distance", "BTS_distance", "MRT_distance", "APL_distance"]:
        df_ja[i] = df_ja[i].apply(str_to_int)

In [70]:
df["feature"] = df["feature"].apply(str_to_list)

In [71]:
import re
re.sub("[\[\']", "", a)

'pool'

In [72]:
df[df.index == 7709]["feature"].values

array([list(['Renovated'])], dtype=object)

In [73]:
df["feature"][0]

['pool',
 'Multi-purpose hall',
 'sauna',
 'Library',
 'security',
 'Jacuzzi',
 'car park',
 'fitness']

In [74]:
["BRT_distance", "BTS_distance", "MRT_distance", "APL_distance"]

['BRT_distance', 'BTS_distance', 'MRT_distance', 'APL_distance']

In [75]:
df["BRT_distance"] = df["BRT_distance"].apply(str_to_int)

In [76]:
df["BRT_distance"]

0       10000
1       10000
2       10000
3       10000
4       10000
        ...
7709    10000
7710    10000
7711    10000
7712    10000
7713    10000
Name: BRT_distance, Length: 7714, dtype: object

In [77]:
def f(x):
    return pd.Series([str_to_int(x), str_to_int(x),str_to_int(x),str_to_int(x)])

In [78]:
from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

pd.DataFrame(mlb.fit_transform(df["feature"]),columns=mlb.classes_, index=df.index)

,Air-Conditioning,Audio System,BBQ pits,Basketball court,Bathtub,Bed,Billiards room,Broadband Internet,Club,Clubhouse,...,car park,cook,fitness,furniture,nan,pool,sauna,security,tv,view
0,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,1,1,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7710,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7711,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
7712,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,1,0,1,0,0
7713,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,1,1,1,0,0

In [79]:
mlb.classes_[0]

'Air-Conditioning'

In [81]:
a = pd.get_dummies(df['feature'].explode()).sum(level=0)

/tmp/ipykernel_165/2191938189.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.sum(level=1) should use df.groupby(level=1).sum().
  a = pd.get_dummies(df['feature'].explode()).sum(level=0)

In [89]:
jaa = pd.concat([df, a], axis = 1).drop(columns = ["Unnamed: 0", "feature"])

In [93]:
jaa.isna().sum().sum()

0