In [1]:
import pandas as pd
df = pd.read_csv("/ml_data/ddproperty_final.csv")

In [29]:
df

,Unnamed: 0,price,bedroom,bathroom,sqm,developer,built_year,district,luxuary,public,BRT_distance,BTS_distance,MRT_distance,APL_distance,feature
0,0,8925000,1,1,33.00,Sansiri - แสนสิริ จำกัด (มหาชน),2018,Ratchathewi,3,2,no,220,no,no,"[pool, Multi-purpose hall, sauna, Library, sec..."
1,1,3300000,0,1,33.51,no,2012,Ratchathewi,1,1,no,810,760,570,"[pool, Mini-Mart, sauna, security, fitness]"
2,2,8290000,1,1,60.00,Supalai - ศุภาลัย จำกัด (มหาชน),2015,Ratchathewi,1,0,no,no,no,370,"[pool, sauna, security, fitness]"
3,3,9900000,2,2,66.00,no,2012,Ratchathewi,1,0,no,170,180,140,"[cook, Maidsroom, Water Heater, Corner Unit, v..."
4,4,8320000,1,1,35.00,Sansiri - แสนสิริ จำกัด (มหาชน),2018,Ratchathewi,3,2,no,220,no,no,"[pool, Multi-purpose hall, sauna, Library, sec..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7709,7709,3900000,1,1,32.89,Pruksa Real Estate - พฤกษา เรียลเอสเตท จำกัด (...,2017,Chatuchak,0,0,no,no,40,no,[Renovated]
7710,7710,6300000,1,1,35.00,AP Thailand - เอพี (ไทยแลนด์) จำกัด (มหาชน),2020,Chatuchak,0,0,no,120,500,no,"[Private Garden, Air-Conditioning]"
7711,7711,2850000,1,1,41.00,AP Thailand - เอพี (ไทยแลนด์) จำกัด (มหาชน),2013,Chatuchak,0,0,no,no,560,no,"[pool, security, car park, fitness]"
7712,7712,49456400,3,3,290.00,Major Development - เมเจอร์ ดีเวลลอปเม้นท์ จำก...,2014,Chatuchak,0,1,no,no,550,no,"[pool, BBQ pits, security, car park, fitness]"
7713,7713,7450000,1,1,34.00,Sansiri - แสนสิริ จำกัด (มหาชน),2018,Chatuchak,2,2,no,500,380,no,"[pool, sauna, security, Lounge, Jacuzzi, car p..."

In [5]:
df["feature"][0].split(",")

["['pool'",
 " 'Multi-purpose hall'",
 " 'sauna'",
 " 'Library'",
 " 'security'",
 " 'Jacuzzi'",
 " 'car park'",
 " 'fitness']"]

In [35]:
import re

def str_to_list(x):
    list_x = []
    if x.split(","):
        list_x.append(re.sub("[\[\'\]]", "", x).strip())
    else:
        list_x.append(re.sub("[\[\'\]]", "", x).strip())
    return list_x

def str_to_int(x):
    if x == "no":
        return 10000
    return x

def change_type_columns_feature(df_ja):
    df_ja["feature"] = df_ja["feature"].apply(str_to_list)

def change_no_to_int(df_ja):
    for i in ["BRT_distance", "BTS_distance", "MRT_distance", "APL_distance"]:
        df_ja[i] = df_ja[i].apply(str_to_int)

In [25]:
df["feature"] = df["feature"].apply(str_to_list)

In [26]:
import re
re.sub("[\[\']", "", a)

'pool'

In [27]:
df[df.index == 7709]["feature"].values

array([list(['Renovated'])], dtype=object)

In [28]:
df["feature"][0]

['pool, Multi-purpose hall, sauna, Library, security, Jacuzzi, car park, fitness']

In [37]:
["BRT_distance", "BTS_distance", "MRT_distance", "APL_distance"]

['BRT_distance', 'BTS_distance', 'MRT_distance', 'APL_distance']

In [40]:
df["BRT_distance"] = df["BRT_distance"].apply(str_to_int)

In [41]:
df["BRT_distance"]

0       10000
1       10000
2       10000
3       10000
4       10000
        ...
7709    10000
7710    10000
7711    10000
7712    10000
7713    10000
Name: BRT_distance, Length: 7714, dtype: object

In [42]:
def f(x):
    return pd.Series([str_to_int(x)])

In [ ]:
df["BRT_distance"] = df["BRT_distance"].apply(f)